body {
    color: var(--text-global-color);
    font-family: 'Roboto';
    margin: 0 !important;
    padding: 0 !important;
    line-height: initial !important;
}

a {
    color: var(--link-color);
    outline: none;
}


/* Blocked Text Selection */

* {
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
    // margin: 0 !important;
    // padding: 0 !important;
}

.enable-text-selection {
    -webkit-user-select: text;
    user-select: text;
}

#app {
    position: relative;
    height: 100vh;
}

#content {
    // background: var(--background-color-primary);
    background: #1C1F26;
    margin-left: var(--side-hight);
    /* padding-top: 30px; */
    width: calc(100vw - var(--side-width));
    height: calc(100vh - var(--bottom-hight) - var(--top-hight));
    overflow-y: auto;
}

.tooltip-arrow {
    z-index: 1;
}

.draggable {
    -webkit-user-select: none;
    user-select: none;
    -webkit-app-region: drag;
}