body {
    color: var(--text-global-color);
    font-family: 'Quicksand';
    margin: 0;
    padding: 0;
}

a {
    color: var(--link-color);
}

#app {
    position: relative;
    height: 100vh;
}

#content {
    background: var(--background-color-primary);
    margin-left: var(--side-hight);
    /* padding-top: 30px; */
    width: calc(100vw - var(--side-width));
    height: calc(100vh - var(--bottom-hight) - var(--top-hight));
    overflow-y: auto;
}

.tooltip-arrow {
    z-index: 1;
}

.draggable {
    -webkit-user-select: none;
    user-select: none;
    -webkit-app-region: drag;
}

.btn {
    padding: 5px 10px;
    &:hover {
        background-color: var(--button-primary-hover-color);
        display: inline-block;
        cursor: pointer;
    }
}