.form-group {
    font-size: 12px;
    .form-control {
        border-radius: 0 !important;
        border-color: #2F3541;
        box-shadow: none;
        border-width: 1px;
        border-style: solid;
        padding: 8px;
        font-size: 14px;
        font-weight: 400;
        color: #CCCCCC;
        background-color: var(--form-input-background);
        background-image: none;
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
}