/* width */

::-webkit-scrollbar {
    width: 5px;
    opacity: 0.5;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #444;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #858585;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}