#topbar {
    /* position: absolute; */
    border-bottom: 1px solid var(--border-line-top-bottom);
    background: var(--topbar-color);
    height: var(--top-hight);
    width: 100%;
    display: flex;
    // overflow: hidden;
    justify-self: center;
    font-size: 12px;
    color: #ffffffe5;
    .topbar-left {
        align-self: center;
        flex: 2;
        display: flex;
        .logo {
            font-family: 'Montserrat';
            font-size: 1em;
            font-weight: bold;
            color: #fff;
            padding-left: 8px;
            padding-right: 10px;
        }
        .top-menu {
            ul {
                display: inline;
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    display: inline;
                    position: relative;
                    a {
                        padding: 8px 10px;
                        display: inherit;
                        height: var(--top-hight);
                        text-decoration: none;
                        &:hover {
                            background: var(--button-primary-hover-color);
                            cursor: pointer;
                            color: #fff;
                        }
                    }
                    &:active,
                    &:focus-within {
                        a {
                            background: var(--button-primary-hover-color);
                            cursor: pointer;
                            color: #fff;
                        }
                    }
                    &:active>.top-submenu,
                    &:focus-within>.top-submenu {
                        display: block;
                    }
                    .top-submenu {
                        z-index: 99999;
                        display: none;
                        position: absolute;
                        top: 23px;
                        left: 0;
                        width: 200px;
                        background: #141318;
                        padding: 10px 0px;
                        font-size: 13px;
                        color: #fff;
                        ul {
                            li {
                                .top-submenu-link {
                                    display: block;
                                    padding: 8px 20px;
                                    &:hover {
                                        background: var(--button-primary-hover-color);
                                        cursor: pointer;
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .topbar-center {
        align-self: center;
        text-align: center;
        flex: 2;
    }
    .topbar-right {
        align-self: center;
        flex: 1;
        text-align: right;
        overflow: hidden;
        font-size: small;
        .btn-close-app {
            text-align: center;
            display: inline-block;
            padding: 10px;
            &:hover {
                background: var(--danger) !important;
                color: #fff;
            }
        }
        .btn-spaction-top {
            text-align: center;
            padding-top: 8px !important;
            height: var(--top-hight);
            display: inline-block;
            padding: 5px 10px;
            &:hover {
                background-color: var(--button-primary-hover-color);
                cursor: pointer;
            }
        }
    }
}