:root {
    --danger: #f55;
    --bottom-hight: 25px;
    --top-hight: 30px;
    --side-hight: 50px;
    --background-color-primary: #292d3e;
    --background-color-secondary: #282c3d;
    --topbar-color: rgb(48, 54, 76);
    --button-primary-hover-color: #1f2230;
    --border-line-top-bottom: #30364c;
    --text-global-color: #dfdfdf;
    --row-background: #202435;
    --row-shadow: #161a27c2;
    --link-color: #dadada;
    --text-color: #282c3d;
    --form-input-background: #20242C;
    /* DatePicker Variable */
    --vdp-bg-color: #2f3641;
    --vdp-text-color: #c7c7c7;
    // --vdp-box-shadow: "0 4px 10px 0 rgba(128, 144, 160, 0.1), 0 0 1px 0 rgba(128, 144, 160, 0.81)";
    // --vdp-border-radius: "3px";
    // --vdp-heading-size: "2.5em";
    // --vdp-heading-weight: "bold";
    --vdp-heading-hover-color: #2f3650;
    // --vdp-arrow-color: "currentColor";
    // --vdp-elem-color: "currentColor";
    --vdp-disabled-color: #606063;
    --vdp-hover-bg-color: #0baf74;
    --vdp-hover-color: #ffffff;
    // --vdp-selected-color: "#ffffff";
    // --vdp-selected-bg-color: "#0baf74";
    // --vdp-elem-font-size: "0.8em";
    // --vdp-elem-border-radius: "3px";
    // --vdp-divider-color: "#4a525e"
}