:root {
    --danger: #f55;
    --bottom-hight: 25px;
    --top-hight: 30px;
    --side-hight: 50px;
    --background-color-primary: #292d3e;
    --background-color-secondary: #282c3d;
    --topbar-color: rgb(48, 54, 76);
    --button-primary-hover-color: #1f2230;
    --border-line-top-bottom: #30364c;
    --text-global-color: #dfdfdf;
    --row-background: #202435;
    --row-shadow: #161a27c2;
    --link-color: #dadada;
    --text-color: #282c3d;
}