:root {
    --bottom-hight: 25px;
    --top-hight: 30px;
    --side-hight: 50px;
}

body {
    font-family: 'Quicksand';
    margin: 0;
    padding: 0;
}

#app {
    position: relative;
    height: 100vh;
}

#bottombar {
    position: absolute;
    bottom: 0;
    background: rgb(41, 45, 62);
    border-top: 1px solid rgb(48, 54, 76);
    height: var(--bottom-hight);
    width: 100%;
    display: flex;
    color: white;
    justify-self: center;
    font-size: 12px;
}

#bottombar .bottom-left {
    align-self: center;
    flex: 1;
}

#bottombar .bottom-right {
    text-align: right;
    align-self: center;
    flex: 1;
}

#bottombar .item {
    display: inline-block;
    padding: 5px;
    min-width: 20px;
}

#bottombar .item:hover {
    background: rgb(31, 34, 48);
    cursor: pointer;
}

#content {
    /* display: flex; */
    margin-left: var(--side-hight);
    /* padding-top: 30px; */
    max-height: calc(100vh - var(--bottom-hight) - var(--top-hight));
    overflow-y: auto;
}

.tooltip-arrow {
    z-index: 1;
}

.draggable {
    -webkit-user-select: none;
    user-select: none;
    -webkit-app-region: drag;
}