:root {
    --bottom-hight: 25px;
    --top-hight: 30px;
    --side-hight: 50px;
    --background-color-primary: #292d3e;
    --background-color-secondary: #2d2e33;
    --button-primary-hover-color: #1f2230;
}

body {
    font-family: 'Quicksand';
    margin: 0;
    padding: 0;
}

#app {
    position: relative;
    height: 100vh;
}

#content {
    background: var(--background-color-primary);
    margin-left: var(--side-hight);
    /* padding-top: 30px; */
    height: calc(100vh - var(--bottom-hight) - var(--top-hight));
    overflow-y: auto;
}

.tooltip-arrow {
    z-index: 1;
}

.draggable {
    -webkit-user-select: none;
    user-select: none;
    -webkit-app-region: drag;
}

.btn {
    padding: 5px 10px;
    &:hover {
        background-color: var(--button-primary-hover-color);
        display: inline-block;
        cursor: pointer;
    }
}